html {
  scroll-behavior: smooth;
  overflow: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "lato", sans-serif;
}

/* Header */
#header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0 0 0 0.3);
  margin-bottom: 10rem;
}

.nav-bar {
  animation: movedown 1s linear 1;
  animation-delay: 2s;
  visibility: hidden;
  animation-fill-mode: forwards;
  display: flex;
}

.nav-bar > ul {
  display: flex;
  list-style: none;
}

.nav-bar ul > li {
  padding: 1rem 2rem;
  position: relative;
  display: block;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-bar li:hover {
  animation: anim 500ms cubic-bezier(0.175, 0.885, 0.32, 0.275) infinite;
}

.nav-bar li > a {
  color: #303030;
  text-decoration: none;
  font-size: large;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: #303030;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 767px) {
  #header {
    gap: 2rem;
  }
  .nav-bar {
    display: none;
    width: 100%;
    flex-direction: column;
  }
  .nav-bar.show {
    display: flex;
  }
  .hamburger {
    display: block;
  }
  .nav-bar {
    animation: movedown 1s linear 1;
    animation-fill-mode: forwards;
  }
  .nav-bar > ul {
    flex-direction: column;
  }
}

@keyframes anim {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  25% {
    opacity: 0;
    transform: translateY(-10px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  75% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.logo {
  animation: movedown 1s linear 1;
  animation-delay: 1s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes movedown {
  0% {
    transform: translateY(-100px);
    visibility: visible;
  }
  100% {
    transform: translateY(0px);
    visibility: visible;
  }
}

/* Hero Section */

#hero-section {
  margin-bottom: 10rem;
}

.hero-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 85rem;
  margin: 0 auto;
  gap: 5rem;
  /* margin-top: -25rem; */
}

.hero-wave {
  margin-top: -25rem;
}

.hero-content-heading {
  color: #f0f0f0;
  font-size: 1.5rem;
}

.hero-btn {
  padding: 0.75rem 2rem;
  font-size: medium;
  background-color: rgb(8, 211, 247);
  border: none;
  border-radius: 0.325rem;
  color: #f0f0f0;
  margin-top: 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.hero-content-heading {
  animation: moveright 1s linear 1;
  animation-delay: 3s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes moveright {
  0% {
    transform: translateX(-100px);
    visibility: visible;
  }
  100% {
    transform: translateX(0px);
    visibility: visible;
  }
}

.hero-btn:hover {
  transform: scale(0.95);
}

.btn-highlighted {
  background-color: transparent !important;
  border: 1px solid rgb(8, 211, 247);
  margin-right: 0.32rem;
}

.hero-content-heading,
.hero-content-img {
  flex: 1;
  z-index: 1;
}

.hero-content-img > img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 55px 20px -20px;
  animation: zoomin 1s linear 1;
  animation-delay: 4s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@keyframes zoomin {
  0% {
    transform: scale(0.5);
    visibility: visible;
  }
  100% {
    transform: scale(1);
    visibility: visible;
  }
}

/* Header Responsiveness */

@media screen and (max-width: 500px) {
  #header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  #hero-section {
    margin: 0 1rem !important;
    text-align: center;
  }
  .hero-content {
    flex-direction: column;
  }
  .hero-content-heading {
    font-size: 1rem;
    color: #303030;
  }
  .btn-highlighted {
    color: #303030;
  }
  .hero-wave {
    display: none;
  }
}

@media screen and (max-width: 1350px) {
  #hero-section {
    margin: 0 5rem 5rem;
  }
  .hero-wave {
    display: none;
  }
  .hero-content-heading {
    font-size: 1rem;
    color: #303030;
  }
  .btn-highlighted {
    color: #303030;
  }
}

@media screen and (max-width: 1000px) {
  #header {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 700px) {
  .hero-content {
    flex-direction: column;
  }
  #header {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
}

/* Projects */

#projects {
  width: 80%;
  margin: 0 auto;
  /* overflow: hidden; */
}

.projects-heading {
  font-size: 3rem;
  margin-bottom: 5rem;
  color: #303030;
}

.project-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.project-cards {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  transition: all 500ms ease;
  text-align: center;
  transition: 1s ease;
}

.project-cards:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  transform: scale(1.009);
}

.project-cards > img {
  width: 100%;
}

.project-desc > p {
  padding: 1rem;
  color: #303030;
}

.project-desc {
  padding: 1rem;
}

/* Project Responsiveness */

@media screen and (max-width: 1000px) {
  .project-details {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .project-details {
    grid-template-columns: 1fr;
  }
  #projects {
    margin-top: 5rem;
    text-align: center;
  }
}

/* About */

#about {
  margin-bottom: 5rem;
}

.about-heading > h1 {
  font-size: 3rem;
  margin: 5rem 0 0 10rem;
}
.about-heading > p {
  max-width: 80%;
  line-height: 1.6;
  margin: 5rem auto;
  border-left: 5px solid rgb(8, 211, 247);
  color: #303030;
  padding-left: 1rem;
}

.profile {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.profile-card {
  background-color: #273036;
  color: #f0f0f0;
  width: 300px;
  height: 450px;
  text-align: center;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 500ms ease;
}

.profile-card:hover {
  transform: scale(0.98);
}

.profile-card > * {
  margin: 2rem 0.32rem;
}

.card-img {
  width: 50%;
}

.card-social-icons > i {
  font-size: 2rem;
  transition: 1s ease;
}

.card-social-icons > i:hover {
  opacity: 0.5;
}

/* Contact */

#contact {
  background-color: #273036;
  color: #f0f0f0;
  padding: 100px;
}

.contact-us {
  width: 90%;
  background-color: #303030;
  margin: 0 auto;
  padding: 3em;
  box-shadow: rgb(8, 211, 247, 0.4) 5px 5px, rgb(8, 211, 247, 0.3) 10px 10px,
    rgb(8, 211, 247, 0.2) 15px 15px, rgb(8, 211, 247, 0.1) 20px 20px,
    rgb(8, 211, 247, 0.05) 25px 25px;
}
#contact > h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form-col-2,
.form-col-1 {
  flex: 1;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 0.32rem 0;
  margin: 0.32rem 0;
}

textarea {
  resize: none;
}

.form-col-2 > button {
  padding: 0.5rem 1rem;
  background-color: rgb(8, 211, 247);
  border: none;
  border-radius: 0.325rem;
  color: #f0f0f0;
  cursor: pointer;
  transition: all 0.5s ease;
  margin: 00.5rem 0;
}

.form-col-2 > button:hover {
  transform: scale(0.98);
}

@media screen and (max-width: 1000px) {
  .contact-form {
    flex-direction: column;
  }
  .form-col-1,
  .form-col-2 {
    width: 100%;
  }
  #contact {
    padding: 3rem 1.5rem !important;
  }
  #contact > h1 {
    margin-bottom: 2rem;
  }
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.footer > i {
  font-size: 2rem;
  padding: 0.5rem;
  transition: 500ms ease;
}

.footer > i:hover {
  opacity: 0.5;
}
